.float-child {
    float: left;
}


.float-container {
    padding: 20px;
}

.applicationCount{
    margin-left: 10px;
}

.checkBoxContainer{
    display:flex;
    flex-direction: column;
}

.allButtons{
    display: flex;
}

.clearCountButton{
    margin-left: 20px;
}

