.interviewNote {
    width: 45%;
    height: 700px;
    background-color: #00a3ff;
    padding: 1.5rem 0;
    border-radius: 1rem;
    align-items: center;
    margin-top: 2%;
    margin-left: 30%
}

.noteTitle
{
    text-align: center;
    font-size: 30px
}

.noteContents{
    outline: none;
}

.noteInput{
    background-color: #00a3ff;
    border: none;
    outline:none;
    height: 550px;
    width: 90%;
    margin-top: 5%;
    margin-left: 1%
    
}

.companyName{
    margin-left: 5%
}