.interviewNote {
    width: 600px;
    height: 500px;
    overflow-y: auto;
    background-color: #00a3ff;
    padding: 1.5rem 0;
    border-radius: 1rem;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: auto;
    box-sizing: border-box;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.noteTitle
{
    text-align: center;
    font-size: 30px
    
}

.noteContents{
    outline: none;
}

.noteInput{
    background-color: #00a3ff;
    border: none;
    outline:none;
    height: 300px;
    width: 90%;
    margin-top: 5%;
    margin-left: 1%
    
}

.companyName{
    margin-left: 5%
    
}

.interviewNoteAllPage
{
    display: flex;
}

.companyNameAndList
{
    margin-left: 10%;
    margin-top: 5%;
    width: 130%
}

.interviewNoteButton
{
    margin-right: 0%;
}

.CompanyNoteAndName{
    display:flex;
}

.newNote{
    margin-left: 20%;
    margin-bottom: 5%;
}

.newInterviewNote{
    width: 600px;
    height: 500px;
    background-color: #00a3ff;
    padding: 1.5rem 0;
    border-radius: 1rem;
    align-items: center;
    margin-top: 2%;
    margin-left: 20%
}

.newNoteTitle{
    text-align: center;
    font-size: 30px
}

.newCompanyName{
    margin-left: 5%
}

.newNoteInput{
    background-color: #00a3ff;
    border: none;
    outline:none;
    height: 300px;
    width: 90%;
    margin-top: 5%;
    margin-left: 1%
}

.interviewNoteCompanyName{
    text-align: center;
    margin-left: 35%
}

.deleteNoteButton{
    margin-left: 10px;
}